/* You can add global styles to this file, and also import other style files */

.dropdown-toggle::after {
    content: none!important;
}
/* .fade {
    opacity: 0.7 !important;
} */
.btn-v {
    font-size: 14px!important;
}
.red{
    background-color: #c4172c!important;
    border-color: #c4172c!important;
}
/* .modal-header{
    display: block!important;
} */