<div class="container mt-5">
    <a routerLink=""
       class="btn btn-danger">Go Back</a>
    <div class="row mt-4 h250">
        <div class="col-sm-12 bg-dark">
            <h1 class="text-center mt-5 text-success">Awards Page!</h1>
            <p class="text-center text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit maiores
                suscipit itaque quisquam,
                sapiente, quos laboriosam saepe inventore, earum illo quod id omnis. Laboriosam, animi cumque nisi
                voluptates illo quasi.lorem
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eaque mollitia incidunt quidem
                blanditiis aperiam necessitatibus, dolore culpa. Repellat fuga laboriosam obcaecati harum deserunt
                consectetur dolores magnam molestiae vitae consequatur. Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Minus architecto accusamus necessitatibus placeat consequatur veniam voluptate, qui
                blanditiis cumque aliquam sit corrupti, sequi iste. Reprehenderit rem iure corporis? Hic, velit?
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>