<div class="modal-header text-center">
    <h6 class="text-center text-uppercase">{{modal_title}}</h6>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- <p> {{modal_content}}</p> -->
    <form>
        <div class="form-group">
            <label for="nickname">NICKNAME (OPTIONAL)</label>
            <input type="text"
                   class="form-control">
        </div>
        <div class="form-group">
            <label for="vin"
                   class="text-uppercase">Vin</label>
            <input type="text"
                   class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-primary mr-1 text-uppercase btn-v red">Save and close</button>
            <button class="btn btn-outline-dark text-uppercase btn-v">add another</button>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="activeModal.close('Close click')">Close</button>
</div>