<div class="modal-header">
       <h6 class="text-center text-uppercase">{{modal_title}}</h6>
       <button type="button"
               class="close"
               aria-label="Close"
               (click)="activeModal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
       </button>
</div>
<div class="modal-body">
       <!-- <p> {{modal_content}}</p> -->
       <form [formGroup]="myForm"
             action=""
             (ngSubmit)="submitForm()"
             enctype="multipart/form-data">
              <div class="form-group">

                     <input type="text"
                            class="form-control"
                            placeholder="vehicle nickName"
                            formControlName="vehicleNickName"
                            #vehicleNickName>
              </div>
              <div *ngIf="myForm.controls['vehicleNickName'].invalid && (myForm.controls['vehicleNickName'].dirty || myForm.controls['vehicleNickName'].touched)"
                   class="alert alert-danger">
                     <div *ngIf="myForm.controls['vehicleNickName'].errors.required">
                            NickName is required.
                     </div>
              </div>

              <div class="form-group">

                     <input type="text"
                            class="form-control"
                            placeholder="model Year"
                            formControlName="modelYear">
              </div>
              <div *ngIf="myForm.controls['modelYear'].invalid &&(myForm.controls['modelYear'].dirty || myForm.controls['modelYear'].touched)"
                   class="alert alert-danger">
                     <div *ngIf="myForm.controls['modelYear'].errors.required">model year is required</div>
              </div>
              <div class="form-group">

                     <input type="text"
                            class="form-control"
                            formControlName="modelName"
                            placeholder="model name">
              </div>

              <div class="form-group">

                     <input type="text"
                            class="form-control"
                            formControlName="vehicleCategory"
                            placeholder="vehicle category">
              </div>
              <div class="form-group">

                     <input type="text"
                            class="form-control"
                            formControlName="mileage"
                            placeholder="mileage">
              </div>
              <div class="form-group">

                     <input type="text"
                            class="form-control"
                            formControlName="nextServiceMiles"
                            placeholder="next service miles">
              </div>
              <div class="form-group">
                     <input type="text"
                            class="form-control"
                            formControlName="diagnosticsIssues"
                            placeholder="diagnostics Issues">
              </div>
              <div class="form-group">

                     <input type="text"
                            class="form-control"
                            formControlName="batteryStatus"
                            placeholder="battery Status">
              </div>
              <div class="form-group">

                     <input type="text"
                            class="form-control"
                            formControlName="drivingRangeMiles"
                            placeholder="driving Range Miles">
              </div>
              <div class="form-group">
                     <input type="text"
                            class="form-control"
                            formControlName="status"
                            placeholder="status">
              </div>
              <div class="form-group">
                     <input type="text"
                            class="form-control"
                            formControlName="imageName"
                            #imageName
                            placeholder="Paster here image url">
              </div>
              <!-- <div class="form-group">
                     <input type="file"
                            formControlName="imageName"
                            (change)="fileChange($event)">

              </div> -->
              <!-- <input #file
                     type="file"
                     accept='image/*'
                     (change)="preview(file.files)" />
              <img [src]="imgURL"
                   height="200"
                   *ngIf="imgURL"> -->
              <!-- <div class="form-group">
                     <input type="file"
                            class="form-control"
                            formControlName="imageName"
                            (change)="onFileChanged($event)">
              </div> -->
              <div class="form-group">
                     <!-- [disabled]="myForm.pristine || myForm.invalid" -->
                     <button type="submit"
                             class="btn btn-primary mr-1 text-uppercase btn-v btn-red">Save and close</button>
                     <button class="btn btn-outline-dark text-uppercase btn-v">add another</button>
              </div>
       </form>
</div>